@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: url("./winter.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}